$font-family-base: Nunito, sans-serif;

$font-size-base: 0.95rem;
$badge-font-size: 0.95rem;

$primary: #00adb5;
$secondary: #dae1e7;
$success: #51d88a;
$info: #bcdefa;
$warning: #fff382;
$danger: #ef5753;

$body-bg: #edf1f3;

$btn-focus-width: 0;

$sidebar-nav-color: #2a5164;
$sidebar-icon-color: #c3cbd3;

$pill-link-active: $primary;

$border-color: #efefef;
$table-headers-color: #f3f4f6;
$table-border-color: #efefef;
$table-hover-bg: #f1f7fa;

$header-border-color: #d5dfe9;

$card-cap-bg: #fff;
$card-bg-secondary: #f1f7fa;
$card-shadow-color: #cdd8df;

$code-bg: #120f12;

$paginator-button-color: #9ea7ac;

$new-entries-bg: #fffee9;

$control-action-icon-color: #ccd2df;

@import 'base';
